* {
    margin: 0;
    padding: 0;
}

/*-------------------------Navbar section start---------------------------------*/

.cc-navbar {
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Merriweather', serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}
.cc-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom .2s ease-in-out, border-color 0.8s ease;
}
.cc-navbar .nav-link:hover{
    border-bottom-color: rgb(255, 255, 255);
}
.logo-menu{
    z-index: 99;
}

/*-------------------------Navbar section end---------------------------------*/

/*-------------------------Banner section start---------------------------------*/

/*------------------ index banner start -------------------*/
.banner{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/banner.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 700px;
    filter: brightness(1.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.30); 
}
.banner .banner-desc{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.banner .banner-desc span{
    font-size: 48px;
}
/*------------------ index banner end -------------------*/

/*------------------ AboutUs banner start -------------------*/

.bannerAboutUs{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/aboutUsBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 700px;
    filter: brightness(1.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.30);
}
.bannerAboutUs{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
/*------------------ AboutUs banner end -------------------*/

/*-------------------------Banner section end---------------------------------*/





/*-------------------------Footer section end---------------------------------*/

.footerIndex{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/banner.jpg) center center fixed no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}
.footerAboutUs{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/aboutUsBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}