* {
    margin: 0;
    padding: 0;
}

article p {
    margin: 0;
    text-indent: 2rem;
    text-align: justify;
  }

 

/*-------------------------Navbar section start---------------------------------*/

.cc-navbar {
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Merriweather', serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}
.cc-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom .2s ease-in-out, border-color 0.8s ease;
}
.cc-navbar .nav-link:hover{
    border-bottom-color: rgb(255, 255, 255);
}
.logo-menu{
    z-index: 99;
}

/*-------------------------Navbar section end---------------------------------*/

/*-------------------------Banner section start---------------------------------*/

/*------------------ index banner start -------------------*/
.banner{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/banner.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 700px;
    filter: brightness(1.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.30); 
}
.banner .banner-desc{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.banner .banner-desc span{
    font-size: 48px;
}
.text-capitalize{
    font-size: 50px;
}
/*------------------ index banner end -------------------*/


.bannerAboutUs{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/aboutUsBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 700px;
    filter: brightness(1.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.30);
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


.bannerRecycle{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/recyclingBinsBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 700px;
    filter: brightness(1.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.30);
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


.bannerResponsible{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/responsibleBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 700px;
    filter: brightness(1.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.30);
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.bannerSolidarity{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/solidarityBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 700px;
    filter: brightness(1.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.30);
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.bannerContact{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/bannerContact.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 700px;
    filter: brightness(1.3);
    border-bottom: 5px solid rgba(0, 0, 0, 0.30);
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


/*-------------------------Banner section end---------------------------------*/





/*-------------------------Footer section start---------------------------------*/

.footerIndex{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/banner.jpg) center center fixed no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}
.footerAboutUs{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/aboutUsBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}
.footerRecycle{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/recyclingBinsBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}
.footerResponsible{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/responsibleBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}
.footerSolidarity{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/solidarityBanner.jpg) center center fixed no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}
.footerContact{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./img/bannerContact.jpg) center center fixed no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}
/*-------------------------Footer section end---------------------------------*/


@media (min-width: 990px) {
    .missions{
        border: 1px solid rgba(224, 224, 224, 0.432);
        box-shadow: 3px 3px 2px 1px rgba(146, 146, 146, 0.27);
        border-radius: 15px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .available{
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
      
    .img-fluid{
        width: 500px;
      }
      .values{
        text-align: center;
        justify-content: center;
      }
      .available{
        width: 100%;    
    }
      
}